* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    display:grid;
    grid-template-areas:
        'sidebar header'
        'sidebar subheader'
        'sidebar main-content' ;

    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
/*side bar*/

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;

}
li {
    display:flex;
}
.sidebar iconify-icon {
    align-self: center;
}

.sidebar-title iconify-icon {
    font-size: 3rem;
    margin-left: -.4rem;
}

.sidebar-title {
    align-items: center;
    font-size: 2rem;
}

.sidebar {
    padding-left: 20px;
    padding-top: 20px;
    display:grid;
    grid-area: sidebar;
    background-color: #1992d4;
    grid-template-rows: min-content min-content min-content;
    gap: 50px;
    color: white;
    font-size: 1.5rem;
}



.sidebar ul {
    display: grid;
    gap: 25px;
}

.sidebar-title {
    display:flex;
}

.sidebar iconify-icon {
    padding-right: 1rem;
}

/* header */
.header{
    display:flex;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: space-between; 
    align-items: center;
} 

.navbar{
    display: flex;
    align-items: center;

} 

.search-icon {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.navbar input {
    display: flex;
    height: 1.75rem;
    width: 35rem;
    border-radius: 10px;
    /* padding-left: 1rem; */
    background-color: #e2e8f0;
    border: none;
}

.notification-bell {
    font-size: 2rem;
}

.brand-bar{
   display: flex;
   align-items: center;
   width: 25%;
   justify-content: space-evenly;
   padding-right: 3rem;
}
.brand-bar .brand-name {
    font-weight: bolder;
    font-size: 1.5rem;
}

.brand-bar img {
    align-self: center;
    border-radius: 50%;
    width: 45px;
  }
/* subheader */
.subheader{
    display: flex;
    padding-left: 20px;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
    padding-bottom: 2rem;
}
.subheader .control-buttons{
    display: flex;
    gap: 2rem;
}
.subheader button{
    border-radius: 20px;
    border-color: #1992d4;
    border: none;
    background-color: #1992d4;
    color: white;
    width: 7rem;
    padding: 15px 0 15px 0;
    
}
.subheader img {
    align-self: center;
    border-radius: 50%;
    width: 45px;
  }

  .brand-name-container {
    display: flex;
    align-items: center;
  }

  .logo-text {
    padding-left: 1rem;
    font-weight: bolder;
  }
  .logo-text .brand-name {
    font-size: 2rem;
  }

/*Main content*/

.content-container{
    padding: 1rem;
    background-color: #e2e8f0;
    display: grid;
    grid-template-areas: 
        'project-header sidebar-header'
        'projects sidebar';
    grid-template-columns: 4fr 1fr;
    grid-template-rows: min-content;
    column-gap: 100px;
}

/*projects*/
.project-header{
    grid-area: project-header;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    row-gap: 30px;
    
    
}

.card {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    height: 200px;
    width: 375px;
    text-align: left;
    background-color: white;
    border-left: solid 8px #f0b936;
    border-radius: 5px;
    padding-left: 1rem;
    padding-top: 2rem;

}

.card .title {
    font-weight: bolder;
    padding-bottom: .5rem;
}

.card .icon {
    justify-self: end;
    align-self: end;
    padding-bottom: 1rem;
    font-size: 24px;
}


.card iconify-icon {
    padding-right: 1rem;
}
/*trending*/
.sidebar-header{
    display: grid;
    grid-area: sidebar-header;
    font-weight: bold;
    font-size: 1.5rem;
        
}

  .content-sidebar {
    grid-area: sidebar;
    align-self: center;
  }
  
.dealwrapper {
     max-width: 320px; 
     background: #ffffff; 
     border-radius: 8px; 
     -webkit-box-shadow: 0px 0px 50px rgba(0,0,0,0.15); 
     -moz-box-shadow: 0px 0px 50px rgba(0,0,0,0.15); 
     box-shadow: 0px 0px 50px rgba(0,0,0,0.15); 
     position: relative;
    }
.list-group { 
    position: relative; 
    display: block; 
    background-color: #fff; 
    border-radius: 5px;
}
.list-group h4 { 
    font-size: 18px; 
    margin-top: 6px;  
    margin-bottom: 10px;
}
.list-group p { 
    font-size: 13px; 
    line-height: 1.4; 
    margin-bottom: 10px; 
    font-style: italic;
}
.list-group-item { 
    display: block; 
    padding: 10px 25px 10px 15px; 
    border: 1px solid rgba(221, 221, 221, 0.25); 
    text-decoration: none;
}
.list-group-item .heading { 
    color: #141f31;
}
.list-group-item .text { 
    color: #272727;
}
.list-group-item.active .heading, .list-group-item.active .text { 
    color: #ffffff;
}

.ribbon-wrapper { 
    width: 88px; 
    height: 88px; 
    overflow: hidden; 
    position: absolute; 
    top: -3px; 
    right: -3px; 
    z-index: 1;}
.ribbon-tag { 
    text-align: center; 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
    position: relative; 
    padding: 6px 0; 
    left: -4px; 
    top: 15px; 
    width: 120px; 
    color: #ffffff; 
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px; 
    background: #343434; }

.ribbon-tag:before, .ribbon-tag:after { 
    content: ""; 
    border-top: 3px solid #50504f; 
    border-left: 3px solid transparent; 
    border-right: 3px solid transparent; 
    position:absolute; 
    bottom: -3px;
}
.ribbon-tag:before { 
    left: 0;
}
.ribbon-tag:after { 
    right: 0;
}

.dealwrapper.red .ribbon-tag { 
    background: #1992d4;
}



.red .list-group-item.active, .red .list-group-item.active:focus, .red .list-group-item.active:hover { background: #1992d4; border-color: #1992d4;}
